<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <title>FitTrack</title>
</head>
<body>
    <div class="header-home">
        <div class="title-home">
            <h1>Bem-vindo(a) ao FitTrack</h1>    
        </div>

        <div class="description-home">
            <p>Aqui calculamos seu Basal e montamos uma dieta e treino personalizados para você!</p> 
        </div>    
    </div>

<!--     
    <div class="form"> 
        <div class="form-home">
            <div class="input-group">
                <input id="nome" class="input" type="text" name="nome" required placeholder="">
                <label for="nome" class="placeholder">Nome e Sobrenome</label>
            </div>
        </div>

        <div class="form-home">
            <div class="input-group">
                <input id="email" class="input" type="text" name="email" required placeholder="">
                <label for="email" class="placeholder">E-mail</label>
            </div>
        </div>

        <div class="form-home">
            <div class="input-group">
                <input id="altura" class="input" type="number" name="altura" required placeholder="">
                <label for="altura" class="placeholder">Altura</label>
            </div>
        </div>
    
        <div class="form-home">
            <div class="input-group">
                <input id="peso" class="input" type="number" name="peso" required placeholder="">
                <label for="peso" class="placeholder">Peso</label>
            </div>
        </div>

        <div class="form-home">
            <div class="input-group">
                <input id="data" class="input" type="date" name="data" required placeholder="">
                <label for="data" class="placeholder">Data de Nascimento</label>
            </div>
        </div>

        <button type="submit" class="button-home" id="button-home"> Enviar </button>
    </div> -->

            <!-- Código para incorporação do Typebot -->
        <script type="module">
            import Typebot from 'https://cdn.jsdelivr.net/npm/@typebot.io/js@0.3/dist/web.js';
            Typebot.initStandard({ typebot: "my-typebot-77qcctu" });
        </script>
    
    <typebot-standard style="width: 100%; height: 600px;"></typebot-standard>
    
    
    <div class="footer-section">
        <div class="divisoria"></div>
    </div>
</body>
</html>
